<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  ...
</head>
<body>
<h2>Вход в систему</h2>

<div th:if="${param.error}" class="error">
  Неверное имя пользователя или пароль!
</div>

<form th:action="@{/login}" method="post">

  <p>
    <strong>Username:</strong><br>
    <input type="text" name="username" required autofocus />
  </p>
  <p>
    <strong>Password:</strong><br>
    <input type="password" name="password" required />
  </p>
  <button type="submit">Войти</button>
</form>

<br><br>
<a th:href="@{/}">← На главную страницу</a>
</body>
</html>